@import "fonts-montserrat";
@import "fonts-poppins";
// Variables
@import "md_variables";
@import "variables";

// scss-docs-start import-stack
@import "~bootstrap/scss/bootstrap";

// Configuration
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/utilities";

@import "header";
@import "footer";

body{
     font-family: "Poppins", sans-serif;
     overflow-x: hidden;
    }

#kh-page-index {
/*Home banner Section start*/  
  .home-banner{
    .banner-image{
      position: relative;
      img{
        position: absolute;
        width: 100%;
        object-fit: cover;
        object-position: center;
        }
      .banner-content{
        max-width: 572px;
      .banner-title{
        color: #fff; 
        font-weight: bold;
        position: absolute;
        top: 105px;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0 111px;
        }
      .brand-info{
        color: #FFFFFF;
        position: absolute;
        line-height: 32px;
        font-size: 20px;
        top: 260px;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0 111px;
        }
      .btnbuy{
        color: #FFFFFF;
        position: absolute;
        top:350px;
        left: 111px;
        border-radius: 5px;
        border:none;
        width: 137px;
        height: 50px;
        background-color: $primary;
        }

      .btn-text{
        position: relative;
        top:350px;
        left: 280px;
        border-radius: 5px;
        border:none;
        width: 224px;
        height: 50px;
        opacity: 0.15;
        &::after{
          position: absolute;
          content: '';
          top: 0;
          left: 0;
          color: #FFFFFF;
          font-size: 16px;
          font-weight: bold;
          }
        }
       }

     .banner-mobile{
      img{
        position: absolute;
        left: 67%;
        top: 0;
        width: 50%;
        }
      } 
    }
  }
/*Home banner section End*/

/*Best Sell Section Start*/
 .best-sell{
    background-color: #F8F8F8;
    padding-top: 46px;
   .best-head{
     color: #302F2F;
     text-align: center;
     text-transform: uppercase;
    }
  }
}