@import "fonts-montserrat";
@import "fonts-poppins";
// Variables
@import "md_variables";
@import "variables";

// scss-docs-start import-stack
@import "~bootstrap/scss/bootstrap";

// Configuration
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/utilities";

@import "header";
@import "footer";
@import "form";

body{
     font-family: "Poppins", sans-serif;
     overflow-x: hidden;
    }

#kh-page-index {
/*Home banner Section start*/  
  .home-banner{
    .banner-image{
      padding: 70px 0;
      position: relative;
      overflow: hidden;
      height: 560px;
      background: url(../images/slide1.jpg) no-repeat center center;
      background-size: cover;
  
      
      .banner-content{
        max-width: 572px;
      .banner-title{
        color: #fff; 
        font-weight: bold;
        }
        .brand-info{
            color: #FFFFFF;
            line-height: 32px;
            font-size: 20px;
        }
        .btnbuy{
           
           font-size: 16px; 
         }

        .btn-dark{
          
          background-color: rgba(255,255,255,0.2);
          border: none;
          font-size: 16px;
         }

       }

     
    }
  }
/*Home banner section End*/

/*Best Sell Section Start*/
 .best-sell{
    background-color: #F8F8F8;
    padding-top: 46px;
    height: 282px;
   .best-head{
     color: #302F2F;
     text-align: center;
     text-transform: uppercase;
    }
    .best-title{
      color: #111111;
      text-align: center;
    }
  }
}