<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="images/favicon.ico">

    <title>Khoomi</title>

    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet"
    href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
    crossorigin="anonymous" />
</head>

<body>

    <% include /src/include/header.ejs %>

        <main id="kh-page-index">
          <section class="home-banner">
            <div>
                <div class="banner-image">
                    <img src="images/banner-bg.jpg" alt="banner-background" class="img-fluid">
                    <div class="banner-content">
                      <h1 class="display-3 banner-title">GET THE NEW IPHONE 12<br>PRO</h1>
                      <p class="brand-info">A transformative triple‑camera system that adds tons of capability without<br>complexity</p>
                      <button class="btnbuy">Buy Now</button>
                      <button class="btn-text">With $599 with trade-in</button>
                    </div>
                </div>
            </div>
          </section> 
        </main>

        <% include /src/include/footer.ejs %>

        <script src="js/home.js"></script>

</body>
</html>