<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="icon" href="images/favicon.ico" />

    <title>Khoomi</title>

    <link rel="stylesheet" href="css/home.css" />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <% include /src/include/header.ejs %>

    <main id="kh-page-index">
      <section class="home-banner">
        <div class="banner-image">
          <div class="container">
            <div class="banner-content">
              <h1 class="display-5 banner-title">GET THE NEW IPHONE 12 PRO</h1>
              <p class="brand-info">
                A transformative triple‑camera system that adds tons of
                capability without complexity
              </p>
              <a href="javascript:;" class="btn btn-primary btnbuy">Buy Now</a>
              <a href="javascript:;" class="btn btn-dark btn-text"
                >With $599 with trade-in</a
              >
            </div>
          </div>
        </div>
      </section>

      <section class="best-sell">
        <div class="container">
          <div class="row">
            <div>
              <h6 class="best-head">EXPLORE AWESOME PRODUCTS</h6>
              <h4 class="best-title">RECOMMENDED FOR YOU</h4>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 col-md-3">
            <div class="cmn-box-wrapper">
              <div class="cmn-box">
                <img src="images/pro1.jpg" alt="watch-image1" />
                <h5 class="pro-title">Single Tour</h5>
                <div class="d-flex align-items-center justify-content-center">
                  <a href="#" class="btn btn-price">$990</a>
                </div>
              </div>
              </div>
            </div>

            <div class="col-sm-6 col-md-3">
              <div class="cmn-box-wrapper"> 
              <div class="cmn-box">
                <img src="images/pro2.jpg" alt="watch-image2" />
                <h5 class="pro-title">Single Tour</h5>
                <div class="d-flex align-items-center justify-content-center">
                  <a href="#" class="btn btn-price">$990</a>
                </div>
              </div>
              </div>
            </div>

            <div class="col-sm-6 col-md-3">
              <div class="cmn-box-wrapper">
              <div class="cmn-box">
                <img src="images/pro1.jpg" alt="watch-image3" />
                <h5 class="pro-title">Single Tour</h5>
                <div class="d-flex align-items-center justify-content-center">
                  <a href="#" class="btn btn-price">$990</a>
                </div>
              </div>
              </div>
            </div>

            <div class="col-sm-6 col-md-3">
              <div class="cmn-box-wrapper">
              <div class="cmn-box">
                <img src="images/pro2.jpg" alt="watch-image4" />
                <h5 class="pro-title">Single Tour</h5>
                <div class="d-flex align-items-center justify-content-center">
                  <a href="#" class="btn btn-price">$990</a>
                </div>
              </div>
              </div>
           </div>

          <div class="row">
            <div class="prod-btn">
              <a href="#" class="btn btn-lg btn-outline-secondary"
                >Explore Other Products</a
              >
            </div>
          </div>
        </div>
      </section>

      <section class="discount-banner">
        <div class="container">
          <div class="discount-banner-wrap">
            <div class="discount">
              <h2 class="offer-text">
                Sneakers Never Run Out Of Style Get 50% Off Sitewide
              </h2>
            </div>
            <div>
              <a href="#" class="btn btn-lg btn-shop btn-outline-light"
                >Start Shopping</a
              >
            </div>
          </div>
        </div>
      </section>

      <section class="shoe-collection">
        <div class="container">
          <div class="row">
            <div>
              <h6 class="shoe-head">STRAIGHT FROM NIKE</h6>
              <h4 class="new-title mb-5">NEW COLLECTION</h4>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="left-box">
                <div class="row mb-5">
                  <div class="col-md-6">
                    <div class="cmn-pro-box">
                      <div class="cmn-pro-info">
                        <figure class="pro-image">
                          <img src="images/pro3.jpg" alt="shoe1-image" />
                        </figure>
                        <div
                          class="
                            d-flex
                            align-items-center
                            justify-content-between
                          "
                        >
                          <h5 class="shoe-title">Nike Air Force 1</h5>
                          <a href="#" class="btn btn-pro-price">$99</a>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="cmn-pro-box">
                      <div class="cmn-pro-info">
                        <figure class="pro-image">
                          <img src="images/pro4.jpg" alt="shoe1-image" />
                        </figure>
                        <div
                          class="
                            d-flex
                            align-items-center
                            justify-content-between
                          "
                        >
                          <h5 class="shoe-title">NikeCourt Air</h5>
                          <a href="#" class="btn btn-pro-price">$99</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6">
                    <div class="cmn-pro-box">
                      <div class="cmn-pro-info">
                        <figure class="pro-image">
                          <img src="images/pro5.jpg" alt="shoe1-image" />
                        </figure>
                        <div
                          class="
                            d-flex
                            align-items-center
                            justify-content-between
                          "
                        >
                          <h5 class="shoe-title">NikeCourt Air</h5>
                          <a href="#" class="btn btn-pro-price">$99</a>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="cmn-pro-box">
                      <div class="cmn-pro-info">
                        <figure class="pro-image">
                          <img src="images/pro3.jpg" alt="shoe1-image" />
                        </figure>
                        <div
                          class="
                            d-flex
                            align-items-center
                            justify-content-between
                          "
                        >
                          <h5 class="shoe-title">NikeCourt Air</h5>
                          <a href="#" class="btn btn-pro-price">$99</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="right-box">
                <div class="d-flex justify-content-between">
                  <a href="#" class="btn btn-dark btn-sale">SALE -50%</a>
                  <a href="#" class="btn btn-offer-price">$99</a>
                </div>
                <figure class="right-pro-image">
                  <img src="images/pro7.jpg" alt="shoe-image7" />
                </figure>
                <div>
                  <h4 class="brand-name">Nike Air Force 1 Shadow</h4>
                  <h6 class="brand-title">Brand: Nike</h6>
                </div>
              </div>
            </div>

            <div class="row">
              <div
                class="
                  prod-btn
                  d-flex
                  align-items-center
                  justify-content-center
                  mt-5
                "
              >
                <a href="#" class="btn btn-lg btn-outline-secondary"
                  >Explore Other Products</a
                >
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="discount-banner">
        <div class="container">
          <div class="discount-banner-wrap">
            <div class="discount">
              <h2 class="offer-text">
                Sneakers Never Run Out Of Style Get 50% Off Sitewide
              </h2>
            </div>
            <div>
              <a href="#" class="btn btn-lg btn-shop btn-outline-light">Start Shopping</a>
            </div>
          </div>
        </div>
      </section>

      <section class="top-product">
        <div class="container">
          <div class="row">
            <div>
              <h6 class="top-head">TOP PRODUCTS</h6>
              <h4 class="top-title">TRENDING THIS WEEK</h4>
            </div>

            <div class="row mb-5">
              <div class="col-md-3">
               <div class="cmn-top-wrapper">
                <div class="cmn-top-box">
                  <img src="images/pro4.jpg" alt="top-product1" />
                </div>
               </div> 
                <div class="top-pro-info">
                  <h5 class="top-pro-title">Nike Court Air</h5>
                  <a href="#" class="btn btn-top-price">$58</a>
                </div>
              </div>

              <div class="col-md-3">
                <div class="cmn-top-wrapper">
                <div class="cmn-top-box">
                  <img src="images/pro3.jpg" alt="top-product1" />
                </div>
               </div> 
                <div class="top-pro-info">
                  <h5 class="top-pro-title">Nike Court Air</h5>
                  <a href="#" class="btn btn-top-price">$58</a>
                </div>
              </div>

              <div class="col-md-3">
                <div class="cmn-top-wrapper">
                <div class="cmn-top-box">
                  <img src="images/pro5.jpg" alt="top-product1" />
                </div>
               </div> 
                <div class="top-pro-info">
                  <h5 class="top-pro-title">Nike Court Air</h5>
                  <a href="#" class="btn btn-top-price">$58</a>
                </div>
              </div>

              <div class="col-md-3">
                <div class="cmn-top-wrapper">
                <div class="cmn-top-box">
                  <img src="images/pro4.jpg" alt="top-product1" />
                </div>
                </div>
                <div class="top-pro-info">
                  <h5 class="top-pro-title">Nike Court Air</h5>
                  <a href="#" class="btn btn-top-price">$58</a>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-3">
                <div class="cmn-top-wrapper">
                <div class="cmn-top-box">
                  <img src="images/pro4.jpg" alt="top-product1" />
                </div>
                </div> 
                <div class="top-pro-info">
                  <h5 class="top-pro-title">Nike Court Air</h5>
                  <a href="#" class="btn btn-top-price">$58</a>
                </div>
              </div>

              <div class="col-md-3">
                <div class="cmn-top-wrapper">
                <div class="cmn-top-box">
                  <img src="images/pro3.jpg" alt="top-product1" />
                </div>
                </div>
                <div class="top-pro-info">
                  <h5 class="top-pro-title">Nike Court Air</h5>
                  <a href="#" class="btn btn-top-price">$58</a>
                </div>
              </div>

              <div class="col-md-3">
                <div class="cmn-top-wrapper">
                <div class="cmn-top-box">
                  <img src="images/pro5.jpg" alt="top-product1" />
                </div>
                </div>
                <div class="top-pro-info">
                  <h5 class="top-pro-title">Nike Court Air</h5>
                  <a href="#" class="btn btn-top-price">$58</a>
                </div>
              </div>

              <div class="col-md-3">
                <div class="cmn-top-wrapper">
                <div class="cmn-top-box">
                  <img src="images/pro4.jpg" alt="top-product1" />
                </div>
                </div>
                <div class="top-pro-info">
                  <h5 class="top-pro-title">Nike Court Air</h5>
                  <a href="#" class="btn btn-top-price">$58</a>
                </div>
              </div>
            </div>

          </div>
        </div>
      </section>

      <section class="discount-banner">
        <div class="container">
          <div class="discount-banner-wrap">
            <div class="discount">
              <h2 class="offer-text">
                Sneakers Never Run Out Of Style Get 50% Off Sitewide
              </h2>
            </div>
            <div>
              <a href="#" class="btn btn-lg btn-shop btn-outline-light">Start Shopping</a>
            </div>
          </div>
        </div>
      </section>
      
    </main>

    <% include /src/include/footer.ejs %>

    <script src="js/home.js"></script>
  </body>
</html>
