<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="images/favicon.ico">

    <title>Khoomi</title>

    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet"
    href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
    crossorigin="anonymous" />
</head>

<body>

    <% include /src/include/header.ejs %>

        <main id="kh-page-index">
          <section class="home-banner">
                <div class="banner-image">
                    

                    <div class="container">
                      <div class="banner-content">
                        <h1 class="display-5 banner-title">GET THE NEW IPHONE 12 PRO</h1>
                        <p class="brand-info">A transformative triple‑camera system that adds tons of capability without complexity</p>
                        <a href="javascript:;" class="btn btn-primary btnbuy">Buy Now</a>
                        <a href="javascript:;" class="btn btn-dark btn-text">With $599 with trade-in</a>
                      </div>
                      
                    </div>
                    

                </div>
          </section> 

          <section class="best-sell">
             <div class="container">
                <div class="row">
                  <div>
                     <h6 class="best-head">EXPLORE AWESOME PRODUCTS</h6>
                     <h4 class="best-title">RECOMMENDED FOR YOU</h4>
                  </div>   
                </div>
             </div>
          </section>

        </main>

        <% include /src/include/footer.ejs %>

        <script src="js/home.js"></script>
</body>
</html>