<footer class="kh-footer">
  <section class="footer-info">
      <div class="container">
          <div class="row">
              <div class="col-md-6">
                  <div class="footer1">
                      <div class="comp-info">
                         <img src="../images/logo.jpg" alt="footer-logo">
                      </div>
                  </div>
                  <div class="comp-detail">
                    <p class="comp-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
                  </div>
              </div>
              <div class="col-md-2">
                <div class="quick">
                    <h5>Products</h5>
                    <ul class="p-0">
                      <li><a href="#">Trending</a></li>
                      <li><a href="#">My Account</a></li>
                      <li><a href="#">Vendors</a></li>
                      <li><a href="#">Brands</a></li>
                      <li><a href="#">Storefront</a></li>
                    </ul>
                  </div>
              </div>

              <div class="col-md-2">
                <div class="quick2">
                    <h5>Legal</h5>
                    <ul class="p-0">
                      <li><a href="#">License</a></li>
                      <li><a href="#">Refund Policy</a></li>
                      <li><a href="#">About Us</a></li>
                      <li><a href="#">Brands</a></li>
                      <li><a href="#">Contacts</a></li>
                    </ul>
                  </div>
              </div>

              <div class="col-md-2">
                <div class="quick3">
                  <h5>Contacts</h5>
                  <p>Fell free get in touch with us via phone or send us a message</p>
                  <span><a href="#">+1 234 567 89 10</a></span>
                  <span><a href="#">support@khoomi.com</a></span>
                </div>
              </div>

          </div>  
      </div> 
  </section>
</footer>