<header class="kh-header">
   <section class="top-headbar">
      <div class="container">
         <div class="row">
            <div class="col-md-2">
               <div class="logo">
                   <img src="../images/logo.jpg" alt="logo">
               </div>
            </div>
            <div class="col-md-6">
              <div class="search-form">
                <div class="input-group searchbox">
                  <input type="text" class="form-control" aria-label="searchbox" placeholder="Search For Products, Brands & Categories">
                  <button type="button" class="btn btn-outline-secondary search-icon"><i class="fas fa-search"></i></button>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="icon">
                <a href="#" class="link">
                  <i class="fal fa-heart"></i>
                  <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-primary">
                   0
                   <span class="visually-hidden">unread messages</span>
                 </span>
                 </a>
                 <a href="#"><i class="far fa-user"></i></a>
                 <a href="#" class="link">
                   <i class="fal fa-shopping-cart"></i>
                   <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-primary">
                     0
                   <span class="visually-hidden">unread messages</span>
                   </span>
                 </a>
              </div>
            </div>
         </div>  
      </div>
   </section>
   <section class="menu-navigation">
     <div class="container">
       <div class="row">
         <div class="col-md-2">
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle btn-cat" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              All Categories
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </div>
         </div>
         <div class="col-md-10">
          <nav class="navbar navbar-expand-lg navbar-light bg-col d-flex">
            <div class="container-fluid">
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto">
                  <li class="nav-item">
                    <a class="nav-link text-primary active" aria-current="page" href="#">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">New Arrivals</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Trending</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Deals For You</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Discounts</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Weekly Offers</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Become A Vendor</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
         </div>

       </div>
     </div>
   </section>
</header>